
body{
  font-family: iransans !important;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
.cursor{
  cursor: pointer;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.authors{
  padding: 30px;
}
.comment{
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.margin-top{
  margin-top: 10px;
}
.menu{
  background: #d2d2d2;
  width: 100%;
  margin-bottom: 30px;
}
.menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li{
  display: inline-block;
  color: black;
  padding: 10px;
}
.menu a{
  color: black;
  text-decoration: none;
}
.menu a:hover,
.menu a:active,
.menu a.active{
  color: blueviolet;
  text-decoration: none;
}
.counter{
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 20px;
  background: #00BCD4;
  color: #fff;
  font-size: 18px;
}