.post{
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}
.full{
    margin-bottom: 30px;
    border: 1px solid #ccc;
    padding: 10px;
}
.newPost{
    margin-bottom: 30px;
    border: 1px solid #ccc;
    padding: 10px;
}